services:
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: my_app_role
      POSTGRES_PASSWORD: some_password
      POSTGRES_DB: my_app
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    ports:
      - '3333:3333'
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://my_app_role:some_password@db:5432/my_app
      NODE_ENV: production
    env_file:
      - .env

volumes:
  postgres_data:
